/*-----------------------------------------------------------------------------
[client] Screen Stylesheet

version:   1.0
date:      01/03/20
author:    Success Ahon
email:    success@gmail.com

website:   arudovwen.me

-----------------------------------------------------------------------------*/


/* Import other stylesheets
-----------------------------------------------------------------------------*/

/* @import url("otherstylesheet.css"); */


/* Remove margin, padding and border from everything
-----------------------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;

    border: 0;

}

html {

    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: all .6s;
}

/* Styles for layout
-----------------------------------------------------------------------------*/

.clear {
    clear: both;
}



.right {
    float: right;
}



.left {
    float: left;
}

/* Set up the document
-----------------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding', monospace;

}
.text-center{
    text-align: center;
}
.mr-1 {
    margin-right: 1rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mr-4 {
    margin-right: 4rem;
}

.mr-3 {
    margin-right: 3rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-3 {
    margin-bottom: 3rem;
}
.my-3{
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.my-2{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
section {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid rgba(25, 27, 29, .35);
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #bdbdbd;
}

.cpointer {
    cursor: pointer;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50rem;
    filter: grayscale(100%);
}

.logo:hover {

    filter: grayscale(50%);
}

.home-body {
    position: relative;
    font-family: 'Nanum Gothic Coding', monospace;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.home-nav {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 0;


}

.home-right-nav {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    right: 0;


}

.home-nav a {
    text-decoration: none;
    color: #191b1d;
}

nav a {
    text-decoration: none;
    color: #191b1d;
    display: block;
    margin-bottom: .5rem;
}

.bottom-nav {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    right: 0;
}

.name h2 {

    font-size: 7rem;
    margin-bottom: 1rem;
}

.name h6 {
    font-size: 3rem;
    font-weight: normal;
}

.about-body {
    position: relative;
    font-family: 'Nanum Gothic Coding', monospace;
    width: 80%;
    margin: 0 auto;
    height: 100%;


}

.about {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 75px;
}

.about:hover .myimage {
    filter: grayscale(0%);
}


.about-text {
    width: 80%;
    font-size: 18px;
    line-height: 1.6;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: auto;
}

.about h2 {
    font-size: 5rem;
    font-weight: bold;
    opacity: .2;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    right: -80%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;

}

.line div {
    position: absolute;
    width: 2px;
    height: 400px;
    background: #f2f2f2;

}

.line div:nth-child(1) {
    top: 12%;
    left: 12%;
    animation: animate 10s linear infinite;
}

.line div:nth-child(2) {
    top: 62%;
    left: 22%;
    animation: animate 9s linear infinite;
}

.line div:nth-child(3) {
    top: 42%;
    left: 62%;
    animation: animate 13s linear infinite;
}

.line div:nth-child(4) {
    top: 50%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.line div:nth-child(5) {
    top: 15%;
    left: 72%;
    animation: animate 15s linear infinite;
}

.line div:nth-child(6) {
    top: 35%;
    left: 25%;
    animation: animate 11s linear infinite;
}

.line div:nth-child(7) {
    top: 70%;
    left: 95%;
    animation: animate 15s linear infinite;
}

.line div:nth-child(8) {
    top: 18%;
    left: 42%;
    animation: animate 17s linear infinite;
}

.line div:nth-child(9) {
    top: 72%;
    left: 12%;
    animation: animate 12s linear infinite;
}

.line div:nth-child(10) {
    top: 12%;
    left: 46%;
    animation: animate 7s linear infinite;
}

.line div:nth-child(11) {
    top: 82%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.line div:nth-child(12) {
    top: 62%;
    left: 62%;
    animation: animate 15s linear infinite;
}

.line div:nth-child(13) {
    top: 42%;
    left: 5%;
    animation: animate 8s linear infinite;
}

.line div:nth-child(14) {
    top: 90%;
    left: 8%;
    animation: animate 12s linear infinite;
}

.line div:nth-child(15) {
    top: 5%;
    left: 12%;
    animation: animate 15s linear infinite;
}


@keyframes animate {
    0% {
        transform: scale(0) translate(0) rotate(0);
        opacity: 1;
    }

    100% {
        transform: scale(1.5) translate(300px) rotate(360deg);
        opacity: 0;
    }
}

.arrow-down {
    background: #191b1d;
    padding: 10px;
    border-radius: 50rem;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    margin-left: -35px;


}

.arrow-down img {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about {
    background: #bdbdbd;
    height: 100%;
  
}

.myimage {
    position: absolute;
    width: 300px;
    transform: scaleX(-1);
    bottom: -15%;
    filter: grayscale(100%);
    transition: all .5s;
    left: -15%;
}

.myimage:hover {
    filter: grayscale(0%);
}

#project {

    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: radial-gradient(circle 1600px at 100%,at 0,#252525 0,#080808 100%);
    background: radial-gradient(circle 1600px at 100% 0,#252525 0,#080808 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.projects {
    position: relative;
    max-width: 90%;
    width: 90%;
    align-items: center;
    display: -webkit-inline-box;
    overflow-x: auto;
    white-space: nowrap;
    cursor: grabbing;
    padding: 15px;


}

.projects .project div {
    /* display: inline-block; */
    overflow: hidden;

}

.projects div .project {
    width: 100%;
    height: 100%;
    padding-bottom: 15px;


}
.project{
    padding: 24px;
    background: radial-gradient(circle 600px at 100%,at 0,#212121,#121212);
    background: radial-gradient(circle 600px at 100% 0,#212121,#121212);
    border-radius: 16px;
    box-shadow: 0 12px 24px -8px rgba(0,0,0,.8);
    height: 100%;
    transition: box-shadow .3s ease,transform .2s ease;
    transition: translateY(0);
    margin-right:32px;
    text-align: center;
}
.projects .project div {
    height: auto;
    width: 600px;
    background: #fff;
    margin-bottom: 1.2rem;
   
}

.projects .project div a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(80%);
  

}

.projects .project div a img:hover {
    transition: all 0.6s;
    transform: scale(1.05);
}

.projects .project h5 {
    font-size: 1.5rem;
    color: #bdbdbd;
}
#project-desc{
    line-height: 1.4;
}
.projects .project p {
    font-size: 1.5rem;
    color: #bdbdbd;
    font-weight: 300;

}

.works {
    width: 100%;
    position: absolute;
    font-size: 3rem;
    color: #bdbdbd;
    left: 50%;
    top: 5%;
    z-index: 7;
    transform: translateX(-50%);
    text-align: center;
}

.text-proj {}

.text-works {}

#contact {
    height: 50vh;
    width: 100%;
    background: #bdbdbd;
    overflow: hidden;
}

.contact {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;

}

.contact h2 {
    font-size: 6rem;
    word-spacing: 5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.socials ul {
    list-style: none;
    text-align: left;
}

.socials ul li {
    font-size: 18px;
    margin-bottom: 1rem;
    cursor: pointer;
    color: rgb(25, 27, 29, .8);
}


.socials ul li:hover {
    color: #191b1d;
}


.icon {
    width: 16px;
    margin-right: 9px;
    font-size: 16px;
}

a {
    text-decoration: none;
}

#testimonials {
    height: 30vh;
    width: 100%;
    background: #fff;
    padding: 100px 0 75px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.testimonial {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#testimonials h2 {
    text-align: center;
    font-size: 3rem;
    color: #191b1d;
    margin-bottom: 1.5rem;

}

.testimonial-name {
    padding: 30px 0;
}

.rightarrow {
    width: 15px;
    transform: rotate(-90deg);
}

.leftarrow {
    width: 15px;
    transform: rotate(90deg);

}

.leftarrow,
.rightarrow {
    cursor: pointer;
}

.arrow {
    background: #bdbdbd;
    border-radius: 50rem;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow:hover {
    background: #191b1d;
}

.word {
    transition: all .6s;
}
.tools{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0;
    grid-row-gap: 15px;
    grid-column-gap: 30px;
    justify-content: space-between;
}
.tags{
    color: white;
}
.words {
    width: 70%;

    display: -webkit-box;
    position: relative;
    overflow-x: auto;
    padding: 20px;
    text-align: center;
    transition: all .6s;
}

.words div {
    width: 100%;
    padding: 15px 20px;
}

.words div p {
    font-size: 20px;
    width: 100%;
}

.quote-right {
    font-size: 11rem;
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: .1;
}

.quote-left {
    font-size: 11rem;
    position: absolute;
    top: 75%;
    right: 10%;
    transform: translate(-50%, -50%);
    opacity: .1;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slide {

    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}

@keyframes slide {
    100% {
        left: 0;
    }
}
footer{
    text-align: center;
    background: #191b1d;
    padding: 15px;
    color: #bdbdbd;
}
#single-project{
    height: 100%;
    background: #bdbdbd;
    position: relative;
}
.proj{
position: fixed;
top:0;
width: 100%;
padding: 15px 0px;
background: #fff;
}
.proj-menu{
    width: 80%;  
    margin: 0 auto;
}
#project-background{
    background-image: url('/assets/images/projects/project4.jpg');
    background-size: cover;
    background-position: top;
    height: 90vh;
}
#project-background2{
    background-image: url('/assets/images/projects/project6.jpg');
    background-size: cover;
    background-position: top;
    height: 90vh;
}
#project-background1{
    background-image: url('/assets/images/projects/project2.jpg');
    background-size: cover;
    background-position: top;
    height: 90vh;
}
#project-background3{
    background-image: url('/assets/images/projects/project8.jpg');
    background-size: cover;
    background-position: top;
    height: 90vh;
}

.project-logo{
    border-radius: 50rem;
}
ul{
    list-style: none;
}
.proj ul{
    display: flex;
    align-items: center;
}
.proj ul a li{
    margin-right: 40px;
}
#project-overview{
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
}
#project-demo{
    padding:50px 0;
    width: 80%;
    margin: 0 auto;
}
#internships{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}
#internships div p{
    font-size: 18px;
}
small{
    font-size: 60%;
}
#project-contribution ul li{
    font-size: 16px;
    margin-bottom: .8rem;
}
.stack ul li{

 font-size: 16px;
    margin-bottom: .8rem;
}
.demo{
    position: absolute;
   top: 50%;
  
   left: 10%;;

}

@media (max-width:768px) {
    .name h2 {
        font-size: 3rem;
    }

    .name h6 {
        font-size: 1.1rem;
    }
.tools{
    grid-template-columns: 1fr;
}
    .arrow-down {
        width: 30px;
        height: 30px;
    }

    .arrow-down img {
        width: 15px;
    }

    .bottom-nav {
        font-size: 8px;

    }

    .about-text {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }

    .myimage {
        width: 180px;
    }

    .about h2 {
        font-size: 2rem;
        right: -75%;
    }

    .works {
        font-size: 2.3rem;
    }

    .projects .project div {
       
        width: 270px;
        background: #fff;
        margin-bottom: 1.2rem;
    }

    #project {
        height: 70vh;
    }

    .projects .project h5 {
        font-size: .8rem;
        color: #bdbdbd;
    }

    .projects .project p {
        font-size: .8rem;
        color: #bdbdbd;
    }

    #testimonials h2 {

        font-size: 2.3rem;

    }

    .testimonial {
        width: 90%;
    }

    .words div p {
        font-size: 14px;
        width: 100%;
    }
    .contact h2{
        font-size: 2.3rem;
        word-spacing: normal;
    }
    #about{
        padding: 75px 0;
        height: 100%;
        padding-bottom: 0;
    }
    #internships{
        grid-template-columns: 1fr;
       grid-row-gap: 15px;
    }
    .wrapper{
        overflow: unset;
    }
 
    .about h2{
        right: -70%;
        top: -3%;
    }
    #internships div p{
        font-size: 15px;
    }
    .myimage{
        width: 100px;
        bottom: -10%;
    }
    .quote-left{
        right: -21%;
    }
}

@media (max-width:375px) {
    .name h2 {
        font-size: 2.1rem;
        margin-bottom: 1rem;
    }

    .name h6 {
        font-size: 1rem;
    }

    .arrow-down {
        width: 25px;
        height: 25px;
    }

    .arrow-down img {
        width: 10px;
    }

    .bottom-nav {
     right: -5px;

    }
   
}