/*-----------------------------------------------------------------------------
[client] Screen Stylesheet

version:   1.0
date:      01/03/20
author:    Success Ahon
email:    success@gmail.com

website:   arudovwen.me

-----------------------------------------------------------------------------*/

/* Import other stylesheets
-----------------------------------------------------------------------------*/

/* @import url("otherstylesheet.css"); */

/* Remove margin, padding and border from everything
-----------------------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;

  border: 0;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.6s;
}

/* Styles for layout
-----------------------------------------------------------------------------*/

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}

/* Set up the document
-----------------------------------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic Coding", monospace;
}
main {
 height: 100vh;
  width: 100vw;
  overflow: hidden;
}
header{
  z-index: 2;

}

.no-js #loader {
  display: none;
}
a {
  text-decoration: none;
  color: #191b1d;
}
a:hover{
  color: blue;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #191b1d;
  overflow: hidden;
  transition: all 0.3s ease-out;
  /* -webkit-animation: move 5s infinite; */
}

.bar {
  position: absolute;
  height: 2px;
  width: 500px;
  margin: 0 auto;
  background: #bdbdbd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: absolute;
  top: -30px;
  margin-left: -30px;
  height: 60px;
  width: 60px;
  left: 0;
  background: #bdbdbd;
  border-radius: 30%;
  -webkit-animation: move 5s infinite;
}

.loading {
  position: absolute;
  top: -15px;
  right: -95px;
  text-transform: uppercase;
  color: #191b1d;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}

@-webkit-keyframes move {
  0% {
    left: 0;
  }

  50% {
    left: 100%;
    -webkit-transform: rotate(450deg);
    width: 150px;
    height: 150px;
  }

  75% {
    left: 100%;
    -webkit-transform: rotate(450deg);
    width: 150px;
    height: 150px;
  }

  100% {
    right: 100%;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.slide {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

footer {
  text-align: center;
  z-index: 2;
}

.box::after{
  content: "";
  width: 100%;
  height: 1px;
  border:1px solid #dee2e6;
  position: absolute;
  top: 50%;
  transform: translateY(50%);
 z-index: 1;
}
.box::before{
  content: "";
  width: 100%;
  height: 1px;
  border:1px solid #dee2e6;
  position: absolute;
 z-index: 1;
 transform: rotate(90deg);
}
.text-box{
  z-index: 2;
  position: relative;
  background: #dee2e6;
}

@media(max-width:768px){
  .footer-text a{
    font-size: .75rem;
  }
  h2{
  font-size: 1rem;
}
a,.copy{
  font-size: .8rem;
}
}